<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Aula 01 - Vuejs do jeito ninja!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <br><br><br>

    <div class="container">
      <h1>{{ titulo }}</h1>

      <ul>
        <li><router-link :to="{ name: 'transformers' }">Transformers</router-link></li>
        <li><router-link :to="{ name: 'gameOfThrones' }">Game of Thrones</router-link></li>
      </ul>

      <router-view></router-view>
    </div>
  </div>

  <template id="transformers">
    <div>
      <div class="row">
        <div class="col">
          <h4>Transformers</h4>
          <ul>
            <li v-for="item in transformers"><router-link :to=" {name: 'transformersContent', params: { name: item.slug } } "> {{ item.name }} </router-link></li>
          </ul>
        </div>

        <div class="col">
          <router-view> </router-view>
        </div>
      </div>
    </div>
  </template>

  <template id="gameOfThrones">
    <div>
      <h4>Game of Thrones</h4>
      <ul>
        <li v-for="item in gameOfThrones">{{ item.name }}</li>
      </ul>
    </div>

  </template>

  <template id="transformersContent">
    <div>
      <h3>Conteúdo Transformers</h3>
      {{ $route.params.name }}
    </div>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
  <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
  <script>
  var Transformers = Vue.component('transformers', {
      
      template: '#transformers',
      data() {
        return {
          transformers: [
          { name: 'Optmus Prime', slug: 'optmus-prime' },
          { name: 'Bumble Bee', slug: 'bumble-bee' },
          { name: 'Megatron', slug: 'megatron' }
        ]
      }}
    })

  var GameOfTrones = Vue.component('game-of-thrones', {

      template: '#gameOfThrones',
      data() {
        return {
          gameOfThrones: [
            { name: 'Jon Snow' },
            { name: 'Daenerys Targaryen' },
            { name: 'Tyron' }
          ]
        }
      }

    })


  var TransformersContent = Vue.component('transformers-content', {
    template: '#transformersContent',
    data() {
      return {

      }
    }
  })
  
    var router = new VueRouter({
      mode: 'history',
      routes: [
        { path: '/transformers', name: 'transformers', component: Transformers,
          children: [
            { path: '/:name', name: 'transformersContent', component: TransformersContent }
          ]
        },
        { path: '/game-of-thrones', name: 'gameOfThrones', component: GameOfTrones },
      ]
    });

    var app = new Vue({
      el: "#app",

      router,

      created() {
        this.$router.push({ name: 'transformersContent', params: { name: 'bumble-bee' } });
      },

      data: {
        titulo: "Vuejs do jeito ninja",

      movie: 'transformers',
      },
    });
  </script>
</body>
</html>
